sh ap image file summary
show ap image | count <sw-version>
show ap image | exclude <sw-version>
sh log | inc AP_JOIN_DISJOIN
sh ap sum | count Downloadin

show version 
show wireless mobility summary
show ap summary 
show ap tag summary | i default-rf
show telemetry internal connection
show ap dot11 5ghz summary | i Down
show wireless stats ap join summary | i Not Joined 
show ap uptime | i NA